body{
    background-color: rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
    color:white;
}
h1{
    text-align: center;
    font-size:50px;
    font-family: 'Stalinist One', cursive;
    color:#B5446E;
    margin-top:80px;
}
.grid-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: grid;
    background-color: rgb(255, 255, 255);
    border: 5px solid #B5446E;
    border-radius: 8px;
    width: 608px; 
    height:608px;
}
.grid-container:hover{
    cursor:crosshair;
}

.customization{
    margin: auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top:-10px;
}
label{
    font-size:30px;
}
button{
    font-family: 'Caveat', cursive;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #eedf13;
    border:none;
    padding:10px 20px;;
    border-radius: 45px;
}
button:hover{
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(224, 221, 49, 0.4);
}
.slidecontainer{
    text-align: center;
    margin-top:670px;
    font-size: 30px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    background: #000;
    outline: none;
    border: 3px solid #eedf13;
    border-radius: 8px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 60px;
    background: #eedf13;
    cursor: pointer;
    border: 3px solid #eedf13;
    border-radius: 4px;
  }

.size{
    font-size: 40px;
}